.filter-container {
  margin: 25px auto;
}

.portfolio-type-search {
  position: relative;
}

.portfolio_type_search {
  position: relative;
}
.portfolio-type-search-btn {
  position: absolute;
  right: 0;
  top: 3px;
  padding: 0;
}

.filter {
  max-width: 250px;
  border-radius: 25px;
}
